body {
    background-color: #0a0a23;
    color: white;
}


.logo-text{
    border: 2px solid #ffff;
    text-align: center;
    background-color: #1b1b32;
    display: flex;
    justify-content: center;
    font-size: 70px;
    border-radius: 5px;
    color: #ffff;
    margin-bottom: 20px;
}

.search-box{
    display: flex;
    justify-content: center;
}
#search-input{
    border-radius: 5px;
    height: 30px;
    width: 400px;
    color: #0a0a23;
}

#search-btn{
    border-radius: 5px;
    height: 34px;
}

#movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.movie-card {
    background-color: #1b1b32; 
    border: 1px solid #3b3b4f;
    padding: 10px;
    text-align: center;
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}